<div id="app">
  <v-app>
    <v-app-bar app absolute color="primary">
      <v-toolbar-title>Badge</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container>
        <v-stepper v-model="step" vertical non-linear>
          <v-stepper-step step="1" :complete="!!baseimage" editable>
            Select an app
            <small>Summarize if needed</small>
          </v-stepper-step>
          <v-stepper-content step="1">
            <v-card>
              <v-img v-show="baseimage" :src="baseimageurl"></v-img>
              <v-file-input chips accept="image/*" v-model="baseimage" label="File input" prepend-icon="image">
              </v-file-input>
              <v-card-actions>
                <v-btn color="primary" @click="step = 2">
                  Continue
                </v-btn>
                <v-btn text>
                  Cancel
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>

          <v-stepper-step step="2" :complete="!!badgeimage" editable>
            Configure analytics for this app
          </v-stepper-step>
          <v-stepper-content step="2">
            <v-card>
              <v-img v-show="badgeimage" :src="badgeimageurl"></v-img>
              <v-file-input chips accept="image/*" v-model="badgeimage" label="File input" prepend-icon="image">
              </v-file-input>
              <v-card-actions>
                <v-btn color="primary" @click="step = 3">
                  Continue
                </v-btn>
                <v-btn text>
                  Cancel
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>

          <v-stepper-step step="3" editable @click="onClickStep3($event)">
            Select an ad format and name ad unit
          </v-stepper-step>
          <v-stepper-content step="3">
            <v-card>
              <canvas ref="canvas" width="512" height="512">
              </canvas>
            </v-card>
          </v-stepper-content>

          <v-stepper-step step="4" editable>
            View setup instructions
          </v-stepper-step>
          <v-stepper-content step="4">
            <v-card></v-card>
          </v-stepper-content>
        </v-stepper>

        <v-row>
          <v-col>
            <v-btn icon>
              <v-icon>download</v-icon>
            </v-btn>
          </v-col>
        </v-row>

      </v-container>
    </v-main>

    <v-footer app fixed color="primary">
      <v-col cols="12">
      </v-col>
    </v-footer>
  </v-app>
</div>